<template>
  <div>
      <b-alert  show variant="dark" id="head">TOP Deck</b-alert>
  </div>
</template>

<script>
export default {

}
</script>

<style >
#head{
    background-color: rgb(49, 156, 206);
    border-radius: 20px;
    margin-top: 10px;
    font-size: 30px;
    color:rgb(255, 174, 0);
}
</style>