<template>
    <div class="col-2 mt-3">
        <b-card
            :title=title
            :img-src=image
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem;"
            class="mb-2"
        >
        <b-card-text>
            {{content}}
        </b-card-text>
        
        <nuxt-link class="btn btn-success" :to="postLink">อ่านบทความ</nuxt-link>
    </b-card>
    </div>
</template>
<script>
export default {
    props: {
        id:{
            type:String,
            required:true
        },
        title:{
            type:String,
            required:true
        },
        content:{
            type:String,
            required:true
        },
        image:{
            type:String,
            required:true
        },
        isAdmin:{
            type:Boolean,   
            required:true

        }
    },
    computed:{
        postLink(){
            return '/cardlist/'+this.id

        }
    }
}
</script>

<style>
.card-text  {
  height: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title{
  height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>