<template>
<div>
    <b-row class="py-2">
            <PostContent title="Endymion" image="https://ygoprodeck.com/pics/3611830.jpg"
            content="Endymion, the Mighty Master of Magic"
            id="Endymion"
            :isAdmin=isAdmin
            />
            <PostContent title="Blue-Eyes White Dragon" image="https://ygoprodeck.com/pics/89631139.jpg"
            content="This legendary dragon is a powerful engine of destruction. Virtually invincible, very few have faced this awesome creature and lived to tell the tale."
            id="2"
            :isAdmin=isAdmin
            />
            <PostContent title="Dark Magician" image="https://ygoprodeck.com/pics/46986414.jpg"
            content="''The ultimate wizard in terms of attack and defense.''"
            id="3"
            :isAdmin=isAdmin
            />
            <PostContent title="Cyber Dragon" image="https://ygoprodeck.com/pics/70095154.jpg"
            content="If only your opponent controls a monster, you can Special Summon this card (from your hand)."
            id="3"
            :isAdmin=isAdmin
            />
            <PostContent title="Galaxy-Eyes Photon Dragon" image="https://ygoprodeck.com/pics/93717133.jpg"
            content="You can Special Summon this card (from your hand) by Tributing 2 monsters with 2000 or more ATK. During the Battle Step, if this card battles an opponent's monster (Quick Effect): You can target that opponent's monster; banish both this card from the field and that target. Return those banished monsters to the field at the end of the Battle Phase, and if you banished an Xyz Monster, this card gains 500 ATK for each material it had when it was banished."
            id="3"
            :isAdmin=isAdmin
            />
            <PostContent title="Dragonmaid" image="https://ygoprodeck.com/pics/24799107.jpg"
            content="This is one of tests that me and my brother build last night. It's quite  good aganist thunder dragons  (one of the motive that we built it), and a solid contender deck for grinding games.  I hope you enjoy it"
            id="3"
            :isAdmin=isAdmin
            />
            <PostContent title="Invoked Shaddoll Dogmatika" image="https://ygoprodeck.com/pics/20366274.jpg"
            content="This deck trys to work as well as the no Shaddoll DPE variant."
            id="3"
            :isAdmin=isAdmin
            />
            </b-row>
    </div>
</template>
<script>
import PostContent from '@/components/posts/PostContent'

export default {
    components:{
        PostContent
    },
    props:{
        isAdmin:{
            type:Boolean,
            required:false
        }
    }
}

</script>
<style scoped>

</style>