<template>
<div>
    <b-row class="py-2">
            <showcardlist titlecard="Endymion" imagecard="https://ygoprodeck.com/pics/3611830.jpg"
            id="Endymion"
            />
            <showcardlist titlecard="Mythical Beast Master Cerberus" imagecard="https://s3.duellinksmeta.com/cards/60c2b3aba0e24f2d54a52d7d_w420.webp"
            id="Cerberus"
            />
            <showcardlist titlecard="Astrograph Sorcerer" imagecard="https://s3.duellinksmeta.com/cards/60c2b3a9a0e24f2d54a515cc_w420.webp"
            id="Astrograph"
            />
            </b-row>
            
    </div>
</template>
<script>
import showcardlist from '@/components/posts/postcardlist/showcardlist'

export default {
    components:{
        showcardlist
    },
}

</script>
<style scoped>

</style>