<template>
    <div class="col-2 mt-3">
        <b-card
            :title=titlecard
            :img-src=imagecard
        >
        <nuxt-link class="btn btn-success" :to="postLink">ใส่ตะกร้า</nuxt-link>
        </b-card>
    </div>
</template>
<script>
export default {
    props: {
        id:{
            type:String,
            required:true
        },
        titlecard:{
            type:String,
            required:true
        },
        imagecard:{
            type:String,
            required:true
        },
    },
    computed:{
        postLink(){
            return '/cardlist/'+this.id

        }
    }
}
</script>

<style>
.card-text  {
  height: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title{
  height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>