<template>
    <b-container fluid>
        <h1 id="edm">Endymion Deck</h1>
        <postcardlist/>
    </b-container>
</template>

<script>
import postcardlist from '@/components/posts/postcardlist/postcardlist'
export default {
    layout:"coreLayout",
    components:{
        postcardlist
    }
}
</script>

<style scoped>
#edm{
    display: flex;
    justify-content: center;
}

</style>