<!--<template>
  <div class="container">
    <form class="form" @submit="onSubmit">
      <h1 class="title">Log In</h1>
      <div class="field">
        <p class="control">
          <input
            v-model="email"
            class="input"
            type="email"
            placeholder="Email"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
            v-model="password"
            class="input"
            type="password"
            placeholder="Password"
          />
        </p>
      </div>

      <div class="field">
        <button type="submit" class="button is-primary is-fullwidth">
          Login
        </button>
      </div>

      <div v-show="error" class="notification is-danger">
        <p>Invalid password</p>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  middleware: 'isLoggedIn',
  data() {
    return {
      email: '',
      password: '',
      error: null,
    }
  },
  methods: {
    async onSubmit(e) {
      e.preventDefault()

      const payload = {
        data: {
          email: this.email,
          password: this.password,
        },
      }

      try {
        await this.$auth.loginWith('local', payload)
        this.$router.push('/')
      } catch (error) {
        this.error = error
      }
    },
  },
}
</script>

<style scoped>
.form {
  width: 320px;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>

<!--
<template>
  <v-form v-model="valid">
    <v-text-field v-model="userInfo.name" 
    
                  label="Name" 
                  :rules="[required('name')]"
                  v-if="hasName" />

    <v-text-field v-model="userInfo.email" 
                  label="Email" 
                  :rules="[required('email'), emailFormat()]"/>

    <v-text-field v-model="userInfo.password"
                  label="Password"
                  :type="showPassword ? 'text' : 'password'" 
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                  counter=true
                  :rules="[required('password'), minLength('password', 8)]"
                  />

    <v-btn @click="submitForm(userInfo)" :disabled="!valid">{{ buttonText }}</v-btn>
  </v-form>
</template>

<script>
  import validations from "@/utils/validations";
  export default {
    data() {
      return {
        valid: false,
        showPassword: false,
        hasName: false,
        userInfo: {
        email: 'admin@admin.com',
        password: '12345678'
        },
        ...validations
      }
    },
    props: ["submitForm", "buttonText", "hasName"]
  }
</script>

<style lang="scss" scoped>
</style> -->

