<template>
  <div class="container has-text-centered">
    <h2 class="title">My Profile</h2>
    <img class="avatar" src="https://cdn.pixabay.com/photo/2016/04/01/10/11/avatar-1299805_1280.png" alt="User Avatar" />
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  layout:"coreLayout",
}
</script>

<style scoped>
.avatar {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
