<template>
  <b-container fluid>
        <Header/>
        <headtopdeck/>
        <postList/>
    </b-container>
</template>

<script>
import Header from '@/components/posts/Header'
import postList from '@/components/posts/postList'
import headtopdeck from '@/components/posts/headtopdeck'
export default {
    layout:"coreLayout",
    components:{
        Header,
        postList,
        headtopdeck
    }
}
</script>

<style>

</style>